<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangxian.xianwebapp.mapper.PersonMapper">
    <select id="findAll" resultType="com.zhangxian.xianwebapp.pojo.Person">
        SELECT * FROM `person` LIMIT 1
    </select>
</mapper>